{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
  {% block content %}
  {% endblock %}
<footer class="container py-5">
	<div class="row mb-5">
		<div class="col-6 col-md-4 d-flex flex-column mb-3">
			<a href="#" class="navbar-brand">
				<img src="{% static 'img/Vector.svg' %}" alt="[]">
				<img src="{% static 'img/SelfStorage.svg' %}" alt="SelfStorage">
			</a>
			<span class="SelfStorage_green">Ежедневно: 9.00 - 21.00</span>

		</div>
		<div class="col-6 col-md-4 d-flex flex-column mb-3">
			<span class="fs_24 fw-bold SelfStorage_green">8 (800) 000-00-00</span>
			<span class="SelfStorage_green">info@selfstorage.ru</span>
		</div>
		<div class="col-6 col-md-4">
			<div class="">
				<a href="#"><img src="{% static 'img/VK_Compact_Logo%201.svg' %}" alt=""></a>
				<a href="#" class="text-decoration-none">
					<svg xmlns="http://www.w3.org/2000/svg" width="53" height="53" fill="currentColor" class="bi bi-telegram" viewBox="0 0 16 16">
						<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"/>
					</svg>
				</a>
				<a href="#"><img src="{% static 'img/whatsapp.svg' %}" alt=""></a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-6 col-md-4 d-flex flex-column">
			<p><a href="{% url 'storage' 1 %}" class="link-dark text-decoration-none">Тарифы</a></p>
			<p><a href="#" class="link-dark text-decoration-none">Рассчитать стоимость</a></p>
			<p><a href="{% url 'storage' 1 %}" class="link-dark text-decoration-none">Арендовать бокс</a></p>
		</div>
		<div class="col-6 col-md-4 d-flex flex-column">
			<p><a href="#" class="link-dark text-decoration-none">Правила хранения</a></p>
			<p><a href="{% url 'storage' 1 %}" class="link-dark text-decoration-none">Адреса складов</a></p>
			<p><a href="#" class="link-dark text-decoration-none">Отзывы</a></p>
		</div>
		<div class="col-6 col-md-4 d-flex flex-column">
			<p><a href="#" class="link-dark text-decoration-none">Политика конфиденциальности</a></p>
			<p><a href="#" class="link-dark text-decoration-none">Правовые документы</a></p>
			<p><a href="#" class="link-dark text-decoration-none">Контакты</a></p>
		</div>
		<h6 class="SelfStorage_grey text-center mt-5">© 2022 SelfStorage. Использование материалов запрещено без письменного согласия</h6>
	</div>
</footer>
</body>
</html>